@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1; } }

@media only screen and (min-width: 500px) {
  .to-do-list-section, .done-section {
    margin-top: 0; }
  .header {
    flex: 0; }
  .li {
    width: 30%; } }

@media only screen and (max-width: 400px) {
  /*     .hour {
        opacity: 1;
    } */
  .line {
    margin-bottom: 2rem;
    opacity: 0; }
  .li {
    width: 16rem; } }

* {
  padding: 0;
  margin: 0;
  font-size: 18px; }

.add-button {
  flex: 2vw;
  font-size: 2.5rem;
  color: #ffffff;
  cursor: pointer; }

.done-button {
  margin-left: 5px;
  color: #0aff01;
  font-size: 1.5rem; }
  .done-button:hover {
    transform: translateY(0.2rem);
    cursor: pointer; }

.return-button {
  color: #ffc400;
  font-size: 1.5rem; }
  .return-button:hover {
    transform: translateY(0.2rem);
    cursor: pointer; }

.remove-button {
  color: red;
  font-size: 1.5rem; }
  .remove-button:hover {
    transform: translateY(0.2rem);
    cursor: pointer; }

.to-do-list-section, .done-section {
  flex: 50%;
  flex-wrap: wrap;
  background-color: #8425aa49;
  margin-top: 4rem;
  padding-bottom: 2rem; }
  .to-do-list-section-header, .to-do-list-section .done-section-header, .done-section-header, .done-section .done-section-header {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem; }
  .to-do-list-section ul, .done-section ul {
    list-style: none; }
  .to-do-list-section li, .done-section li {
    background-color: rgba(255, 255, 255, 0.603);
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2000rem;
    color: black;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    animation: moveInRight 1s ease-out; }

.done-section-header {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem; }

.how-many-to-do, .how-many-done {
  font-size: 2rem;
  font-weight: 800; }

.top {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  flex-direction: column;
  width: 100%; }

.header {
  margin-top: 1.5rem;
  text-align: center;
  flex: 100%; }
  .header-h1 {
    font-size: 5rem;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.8rem;
    margin-bottom: 1rem; }
  .header-span, .header-span-time {
    font-size: 1.8rem; }

.operator {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */ }
  .operator-hour {
    flex: 15vw;
    font-size: 4rem;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px; }
  .operator-input {
    flex: 60vw;
    height: 3rem;
    border-radius: 200rem;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px; }
  .operator-aside {
    flex: 10vw;
    font-size: 2rem;
    margin-right: 5px; }
    .operator-aside-var {
      font-size: 2rem; }

.line {
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex: 0.5rem;
  background-color: #f1f2f6;
  clip-path: polygon(25% 0, 95% 0, 75% 100%, 5% 100%); }

.bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

body {
  text-align: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pobrane.jpeg");
  color: #f1f2f6;
  background-position: cover;
  background-position: top;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif; }
