@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1; } }

* {
  padding: 0;
  margin: 0;
  font-size: 16px; }

.add-button {
  flex: 0.5 1 1;
  font-size: 3rem;
  color: #ffffff;
  cursor: pointer; }
  @media only screen and (max-width: 650px) {
    .add-button {
      font-size: 2rem; } }
  @media only screen and (max-width: 450px) {
    .add-button {
      font-size: 1.7rem;
      flex: 5vw;
      margin-bottom: 1rem; } }

.done-button {
  margin-left: 5px;
  color: #0aff01;
  font-size: 1.5rem; }
  .done-button:hover {
    transform: translateY(0.2rem);
    cursor: pointer; }

.return-button {
  color: #ffc400;
  font-size: 1.5rem; }
  .return-button:hover {
    transform: translateY(0.2rem);
    cursor: pointer; }

.remove-button {
  color: red;
  font-size: 1.5rem; }
  .remove-button:hover {
    transform: translateY(0.2rem);
    cursor: pointer; }

.to-do-list-section, .done-section {
  flex: 1;
  flex-wrap: wrap;
  background-color: #8425aa49;
  padding-bottom: 2rem; }
  .to-do-list-section-header, .to-do-list-section .done-section-header, .done-section-header, .done-section .done-section-header {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem; }
    @media only screen and (max-width: 650px) {
      .to-do-list-section-header, .to-do-list-section .done-section-header, .done-section-header, .done-section .done-section-header {
        font-size: 1.5rem; } }
  .to-do-list-section ul, .done-section ul {
    list-style: none; }
  .to-do-list-section .li, .done-section .li {
    background-color: rgba(255, 255, 255, 0.603);
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2000rem;
    color: black;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 650px) {
      .to-do-list-section .li, .done-section .li {
        width: 80vw;
        margin-bottom: 1rem;
        padding: 0.5rem;
        font-size: 1.2rem; } }
  @media only screen and (max-width: 650px) {
    .to-do-list-section, .done-section {
      flex: 100vw;
      margin-bottom: 1rem; } }

.done-section-header {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem; }

.how-many-to-do, .how-many-done {
  font-size: 2rem;
  font-weight: 800; }
  @media only screen and (max-width: 650px) {
    .how-many-to-do, .how-many-done {
      font-size: 1.5rem; } }

.top {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  flex-direction: column;
  width: 100%; }

.header {
  margin-top: 1.5rem;
  text-align: center;
  flex: 100%; }
  .header-h1 {
    font-size: 5rem;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.8rem;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 650px) {
      .header-h1 {
        font-size: 3rem; } }
    @media only screen and (max-width: 450px) {
      .header-h1 {
        font-size: 2.5rem; } }
  .header-span, .header-span-time {
    font-size: 1.8rem; }
    @media only screen and (max-width: 650px) {
      .header-span, .header-span-time {
        font-size: 1.08rem; } }

.operator {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */ }
  .operator-hour {
    flex: 1;
    font-size: 4rem;
    font-family: 'Lato', sans-serif; }
    @media only screen and (max-width: 650px) {
      .operator-hour {
        font-size: 2.4rem; } }
    @media only screen and (max-width: 450px) {
      .operator-hour {
        font-size: 1.05rem;
        flex: 100vw;
        margin-bottom: 0.5rem;
        justify-content: center; } }
  .operator-input {
    flex: 5;
    height: 3rem;
    border-radius: 200rem;
    text-align: center;
    margin-left: 1rem; }
    @media only screen and (max-width: 650px) {
      .operator-input {
        height: 1.8rem;
        font-size: 0.8rem; } }
    @media only screen and (max-width: 450px) {
      .operator-input {
        flex: 70vw;
        margin-bottom: 1rem; } }
  .operator-aside {
    flex: 1;
    font-size: 2rem;
    margin-right: 5px; }
    .operator-aside-var {
      font-size: 2rem; }
    @media only screen and (max-width: 650px) {
      .operator-aside {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 450px) {
      .operator-aside {
        font-size: 1.4rem;
        flex: 100vh; }
        .operator-aside-var {
          font-size: 1.4rem; } }

.line {
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex: 0.5rem;
  background-color: #f1f2f6;
  clip-path: polygon(25% 0, 95% 0, 75% 100%, 5% 100%); }

.bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

body {
  text-align: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pobrane.jpeg");
  color: #f1f2f6;
  background-position: cover;
  background-position: top;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif; }
